body {
  background-image:url('https://img.freepik.com/vetores-gratis/fundo-branco-minimalista_23-2148811075.jpg?w=1380&t=st=1680134848~exp=1680135448~hmac=ca49d5986c298f275ac681180662664fbc2753587ece3496812a6b4204070536');
  background-size: auto 100vh;
  font-family: Cursive;
  height: 100vh;
}

.menu {
  background-color: grey;
}

a {
  text-decoration: none;
}

a:hover {
  color: #ffd700; 

transition: 0.5s;

opacity: 1.7;
}

.menu ul {
  display: flex;
  justify-content: space-between
}

.menu li {
  list-style: none;
}

.site-title1 {
  color: black;text-shadow: 0.1em 0.1em 0.7em grey;
  text-align: center;
}

.site-title2 {
  font-style: italic;
  text-align: light;
}